/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.image-fit {
  position: relative;
}

.image-fit > img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  width: 100%;
}
